// Define styles for the stars
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #ffd700;
    // background-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); // Add a shadow effect
  }
  @media screen and (max-width:800px) {
     .falling-stars {
      display: none; /* Hide on smaller screens */
    }
    
  }